<h3><%= @channel.artist.name %></h3>
<h4><%= "# #{@channel.name}" %></h4>
<% if @channel.artist.image.url.present? %>
  <%= image_tag(@channel.artist.image.url) %>
<% else %>
  <%= image_tag("default.png") %>
<% end %>

<div class="container">
  <p><%= t('view.comment.index') %></p>
  <p id="notice"><%= notice %></p>
  <!-- <div id="error_explanation"></div> -->
  </div>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, channel: @channel } %>
  </div>
  <div id="error_explanation"></div>
  <%= render partial: 'comments/form', locals: { comment: @comment, channel: @channel } %>
</div>
<div>
  <%= link_to t('link.artist.to page'), artist_path(@channel.artist.id), class: "btn btn-outline-warning" %>
</div>