<div class="page_item">
  <h3><%= t("view.artist.index") %></h3>
  <br>
    <%= form_with url: artists_path, method: :get, local: true do |form| %>
      <div class="input-group d-flex justify-content-center">
        <%= form.text_field :search, value: params[:search], placeholder: t("view.artist.search by artist"), class: "form-control col-8" %>
        <span class="input-group-btn">
          <%= form.submit t("view.artist.search"), name: nil, class: "btn btn-primary" %>
          <%= link_to t("link.clear"), request.params.merge(search: nil), class: "btn btn-outline-primary" %>
        </span>
      </div>
    <% end %>
  <br><br>
  <div>
    <% if @searchartists.present? %>
      <h3><%= t("view.artist.search results") %></h3>
      <div class="row justify-content-center">
        <% @searchartists.each do |searchartist| %>
          <% if artist = @artists.find_by(name: searchartist.name) %>
            <div class="card col-auto ml-1 mt-1" style="width: 480px;">
              <div class="row no-gutters">
                <div class="col-sm-4">
                  <% if artist.image? %>
                    <%= image_tag artist.image.url, class: "card-img" %>
                  <% else %>
                    <%= image_tag "default.png", class: "card-img" %>
                  <% end %>
                </div>
                <div class="card-body col-sm-8">
                  <h5 class="card-title"><%= artist.name %></h5>
                  <div>
                    <%= link_to t("link.artist.to page"), artist_path(artist), class: "btn btn-outline-success" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <%end%>
      </div>

      <br><br>
      <h2><%= t("view.artist.no pages yet") %></h2>
      <div class="row justify-content-center">
        <% @searchartists.each do |searchartist| %>
          <% unless @artists.find_by(name: searchartist.name) %>
            <div class="card col-auto ml-1 mt-1" style="width: 480px;">
              <div class="row no-gutters">
                <div class="col-sm-4">
                  <% if searchartist.images.any?%>
                    <% image = searchartist.images[1]["url"] %>
                    <%= image_tag image, class: "card-img" %>
                  <% else %>
                    <%= image_tag "default.png", class: "card-img" %>
                  <% end %>
                </div>
                <div class="card-body col-sm-8">
                  <h5 class="card-title"><%= searchartist.name %></h5>
                  <div>
                    <% if searchartist.images.any?%>
                      <%= link_to t("link.artist.create page"),   new_artist_path(name: searchartist.name, image: image),   class: "btn btn-success" %>
                    <% else %>
                      <%= link_to t("link.artist.create page"),   new_artist_path(name: searchartist.name), class: "btn btn-success" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
    <div class="row d-flex justify-content-end mr-5">
      <%= page_entries_info @artists %>
    </div>
      <div class="row justify-content-center">
        <% @artists.each do |artist| %>
          <div class="card col-auto ml-1 mt-1" style="width: 480px;">
            <div class="row no-gutters">
              <div class="col-sm-4">
                <% if artist.image? %>
                  <%= image_tag artist.image.url, class: "card-img" %>
                <% else %>
                  <%= image_tag "default.png", class: "card-img" %>
                <% end %>
              </div>
              <div class="card-body col-sm-8">
                <h5 class="card-title"><%= artist.name %></h5>
                <div>
                  <%= link_to t("link.artist.to page"), artist_path(artist), class: "btn btn-outline-success" %>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div><br>
      <div class="row d-flex justify-content-center">
        <%= paginate @artists %>
      </div>
    <% end %>
  </div>
</div>