<h3><%= @artist.name %></h3>
<% if @artist.image.url.present? %>
  <%= image_tag(@artist.image.url) %>
<% else %>
  <%= image_tag("default.png") %>
<% end %>
<div>
  <% if @fan.present? %>
    <%= link_to 'ファン登録を解除', fan_path(id: @fan.id), method: :delete, class: 'btn btn-outline-danger' %>
  <% else %>
    <%= link_to 'ファン登録', fans_path(artist_id: @artist.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
</div>

<div>
  <% @channels.each do |channel| %>
      <%= link_to "# #{channel.name}", artist_channel_path(@artist, channel), class: "btn btn-outline-info" %>
    <% end %>
</div>

<div>
  <%= link_to t('view.channel.new'), new_artist_channel_path(artist_id: @artist.id), class: "btn btn-outline-warning" %>
</div>
<div>
  <%= link_to t('view.artist.index'), artists_path, class: "btn btn-outline-primary" %>
</div>

