<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <div class="media border-bottom p-1">
        <%= link_to user_path(comment.user), class: "text-dark" do %>
          <div class="user_image_ss mt-0">
            <% if comment.user.image && comment.user.image.url %>
              <%= image_tag comment.user.image.url, class: "align-self-start mr-3" %>
            <% else %>
              <%= image_tag "default.png", class: "mr-3" %>
            <% end %>
          </div>
          <div class="media-body text-left pl-3 mt-1">
            <strong><%= comment.user.name %></strong>
        <% end %>
            <%= simple_format(comment.content) %>
            <div class="comment-content text-left pl-3" id ="this_comment_<%= comment.id %>"></div>
          </div>
        <% if comment.user == current_user %>
          <div class="btn-group" role="group">
            <%= link_to t('link.edit'), edit_comment_path(comment), remote: true, class: "btn btn-outline-primary btn-sm" %>
            <%= link_to t('link.destroy'), comment_path(comment.id), method: :delete, remote: true, data: { confirm: t('message.Are you sure?')}, class: "btn btn-outline-danger btn-sm" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</ul>