<div class="page_item">
  <h2><%= t('view.user.edit user') %></h2>
  <br>
  <div class="user_image_s">
    <% if @user.image && @user.image.url %>
      <%= image_tag @user.image.url %>
    <% else %>
      <%= image_tag "default.png" %>
    <% end %>
  </div>
  <%= form_with(model: @user, local: true) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <h2><%= t('errors.template.header', count: @user.errors.count) %></h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="form-group row mr-5 ml-5">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group row mr-5 ml-5">
      <%= f.label :email, class: "control-label" %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="d-flex justify-content-start ml-5">
      <a class="row btn btn-outline-secondary  ml-1" data-toggle="collapse" href="#collapse_content1" role="button" aria-expanded="false" aria-controls="collapse_content1"><%= t('view.user.change password') %></a>
    </div>
    <div class="collapse" id="collapse_content1">
      <div class="form-group row mr-5 ml-5">
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group row mr-5 ml-5">
        <%= f.label :password_confirmation, class: "control-label" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div><br>

    <div class="form-group row mr-5 ml-5">
      <%= f.label :profile_comment, class: "control-label" %>
      <%= f.text_area :profile_comment, class: 'form-control' %>
    </div>
    <div class="form-group row justify-content-start pt-3 ml-5">
      <%= f.label :image, class: "control-label" %>
      <%= f.file_field :image, class: "ml-5 pl-5" %>
      <%= f.hidden_field :image_cache %>
    </div>
    <br>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  <br><br>
  <%= link_to t('link.user.to my page'), user_path(@user), class: "btn btn-outline-warning" %>
</div>